.app_cards {
    /* background-color: rgb(0, 87, 97); */
    /* border: 1px solid rgb(0, 87, 97); */
    width: 300px;
    height: 200px;
    /* border-radius: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0;
    padding: 0;
}

.app_cards_date {
    flex: 1;
    background-color: rgb(0, 87, 97);
    border: 1px solid rgb(0, 87, 97);
    margin: 0;
    width: 300px;
    height: 20px;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.app_cards_details {
    flex: 2;
    height: 180px;
    width: calc(300px - 20px);
    color: black;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    border-radius: 0 0 10px 10px;
    border: 1px solid rgb(0, 87, 97);
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    padding-left: 20px;
}
.app_cards_details p {
    margin: 0;
}
.app_cards_details button {
    width: 100px;
    height: 30px;
    border-radius: 3px;
    background-color: rgb(0, 87, 97);
    color: white;
    border: 1px solid rgb(0, 87, 97);
}
.app_cards_details button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}
.app_cards_buttons {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 10px;
}

.delete-button {
    background-color: red; /* Change this to your preferred color */
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px; /* Add some space above the button */
  }
  
  .delete-button:hover {
    background-color: darkred; /* Darker shade on hover */
  }
  