.pdashboard {
    display: flex;
    height: 100vh;
}
.main-content {
    margin-left: 250px;
    padding: 20px;
    flex: 1;
    background-color: #f8f9fa;
  }
.dashboard-header {
  font-size: 2.5em;
  margin: 0;
  margin-bottom: 20px;
  color: #333;
}
.appointments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.appointment_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}