body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Arial', sans-serif;
}

.contact-bod {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    background-color: rgb(0, 87, 97);
    color: white;
}

.contact-form {
    color: white;
    border-radius: 10px;
    padding: 20px;
    max-width: 600px;
    width: 100%;
}

.contact-label {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    font-size: 16px;
}

.contact-inp {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 5px;
    background-color: white;
    color: black;
    width:90%;
    box-sizing: border-box;
}

.contact-inp:focus {
    border-color: #000;
    outline: none;
}

.contact-but {
    padding: 10px;
    background-color: rgb(0, 173, 179);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 50%;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin: 0 auto;
    display: block;
}

.contact-but:hover {
    background-color: #000;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
    .contact-form {
        padding: 10px;
    }

    .contact-label {
        margin-bottom: 10px;
        font-size: 14px;
    }

    .contact-inp, .contact-but {
        width: 100%;
    }
}