/* navbar.css */

.navbar {
    background: rgb(0,87,97);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    z-index: 100;
    position: fixed;
    width: 100%;
}

.navbar-container {
    font-family: 'Rubik', 'sans-serif';
    display: flex;
    justify-content: space-between;
    height: 50px;
    z-index: 1;
    width: 100%;
    max-width: 1200px;
    padding: 0 50px;
}

.navbar-logo {
    color: #fff;
    font-weight: 500;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
}
/* 
.menu-icon {
    display: none;
} */

.nav-menu {
    flex: 3;
    display: flex;
    text-align: center;
    justify-content: end;
    margin-right: 2rem;
}

.nav-item {
    height: 50px;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.nav-links {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

/* .nav-links:hover {
    font-size: x-large;
} */


.navbar_button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Rubik', sans-serif;
    width: 213px;
    height: 51px;
    border-radius: 12px;
    background-color: rgb(0, 173, 179);
    border: 1px solid rgb(0, 87, 97);

    font-size: 16px;
    font-weight: 450;
}
.navbar_button:hover {
    cursor: pointer;
    background-color: black;
    transition: 0.5s all ease;
}

.scroll {
    background: #000;
    transition: 0.8s all ease;
}