/* Center the form in the middle of the page */
.login_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
  }
  
.login_heading {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Style the form */
  .login_form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }
  .login_form_horizontal {
    display: flex;
    justify-content: center;
    gap: 20px;
    max-width: 800px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }
  
  /* Style each form group */
  .login_form div {
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .login_form_left, .login_form_right {
    width: 100%;
  }
  
  /* Style labels */
  .login_label {
    font-size: 1rem;
    color: black;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
  }
  
  /* Style inputs and select */
  .login_input,
  .login_select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    background-color: #fff;
    box-sizing: border-box;
  }
  
  /* Style button */
.login_button {
    padding: 10px;
    font-size: 1rem;
    color: #fff;
    background-color: rgb(0, 87, 97);
    border: none;
    border-radius: 4px;
    width: fit-content;
    padding-right: 20px;
    padding-left: 20px;
    max-width: 400px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /* Button hover effect */
.login_button:hover {
    background-color: rgb(11, 139, 153);
  }